//desktop query
@media (min-width: 767px){

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    border-bottom: solid 2px #30bef2;
    padding: 15px;

    .img_header{
        width: 250px;
       grid-template-columns: 1/2;
           }

    nav{
      grid-template-columns: 2/3;
      ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 5px;

        li {
            a{
            color: black;
            text-decoration: none;
            font-family:'Roboto', sans-serif;
            font-size: 16px;
            margin: 3px;
            border: solid 1.5px #30bef2;
            border-radius: 4px;
            padding: 5px;
            &:hover {
                color: white;
                background-color: #30bef2;
                border: none;
                    }
                }
            }
        }
    }
}
}

       

//mobile query

@media (max-width: 767px){

    header{
        border-bottom: solid 2px #30bef2;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .img_header{
            width: 300px;
            margin-bottom: 10px;
               }
         
         nav{

          ul{
            list-style: none;
            display: flex;
            align-items:center;
            justify-content:space-between;
            margin: 8px;
    
            li {
                a{
                color: #000000;
                text-decoration: none;
                font-family:'Roboto', sans-serif;
                font-size: 14px;
                margin: 5px;
                border: solid 1.5px #30bef2;
                border-radius: 4px;
                padding: 5px;
                    }
                }
            }
        }
    }
    }

