//section equipo.html BOOTSTRAP CARDS
$fuente-principal:'Roboto', sans-serif;

//desktop query
@media (min-width: 767px){



body{
    .section_equipo{
        margin: 10px;

        .card{
        margin: 5px;
            }
        .h1equipo{
        text-align: center;
        margin: 20px;
            }
        .h2equipo{
        text-align: center;
        margin: 20px;
                }
            }
    .section-derivaciones{
            .container-regiones{
                display: flex;
                justify-content: center;
                    .regiones{
                        width: 750px;
                        margin-bottom: 20px;
                        border-radius: 10px;
                            }
                        }
                }
            

    //section de index.html//
    
    section{
        #carouselExampleDark{
            .carousel-caption{
                h5{
                    color: #1a1a1a !important;
                    font-family: $fuente-principal !important;
                    background-color: #f4f4f49f !important;
                    }
                p{
                    color: #1a1a1a !important;
                    font-family: $fuente-principal !important;
                    background-color: #f4f4f49f !important;
                    }
                    }
            }
    }                
    .section-container{
        margin-left: 100px;
        margin-right: 100px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        .section_div{
            margin: 20px;
            border: 0.5px;
            border-radius: 5px;
            &:hover{
                background-color: #f4f4f4;
                .section_div3{
                    p{
                     color: #30bef2;   
                    }
                }
                
            }
            .section_div2{
                display: flex;
                justify-content: center;
                align-items: center;
                .imagen_section{
                    margin-top: 10px;
                    margin-bottom: 8px;
                    width: 300px;
                    border-radius: 5px;
                }

            }
            .section_div3{
                //display: flex;
                //flex-direction: column;
                //justify-content: space-between;   
                p {
                color: #1a1a1a;
                font-size: 12px;
                text-align: justify;
                font-family: $fuente-principal;
                margin: 8px;        
                }
                .section_p_title{
                    font-size: 15px;
                    color: #1a1a1a;
                    text-align:start;
                    font-weight: bold;
                    margin: 8px;
                }
                }
        }
    }
}

    .banner_bienvenida{
            background-image: url(../img/banner_bienvenida.png);
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 30px;
            h3{
                font-size: 26px;
                padding: 30px;
                text-align: start;
            }
            .texto_bienvenida{
                font-size: 14px;
                padding: 20px;
                text-align: start;
                background-color: #f4f4f438;

            }
    }



//section prestaciones.html

section{
        .h1prestaciones{
            color:#FFFFFF;
            font-size: 35px;
            font-family:$fuente-principal;
            margin: 4px;
            padding: 15px;
            background-image:url(../img/banner_web.png);
                                
        }
        form{
            margin: 0 auto;
            width: 400px;
            padding: 1em;
            border: 1px solid #f4f4f4;
            border-radius: 1em;
            ul{
                //Tomara valores de list style, fuente, hover, etc, de la siguiente ul//
                li{
            label{
                display: inline-block;
                width: 190px;
                text-align: center;
                }
            input{
                font-size: 14px;
                font-family: $fuente-principal;
                width: 300px;
                box-sizing: border-box;
                border: 1px solid #f4f4f4;
                    }
            textarea {
                vertical-align: top;
                font-size: 14px;
                font-family: $fuente-principal;
                height: 6em;
                width: 300px;
                border: 1px solid #f4f4f4;
                    }
                }
            }
        }
      //section prestaciones.html  
        ul{
            list-style: none;
            margin-bottom: 80px;
            li{
                color: black;
                font-size: 15px;
                font-family:$fuente-principal;
                padding: 12px;
                text-align: center;
                transition: background-color 0.8s;
                &:hover {
                    color: white;
                    background-color: violet;
                    border: none;
                    .condiciones_preanaliticas{
                        display: contents;
                    }
                        }
            .cursiva{
                font-style: italic;
            }
            .condiciones_preanaliticas{
                color: #FFFFFF;
                text-align: end;
                font-weight: bold;
                display: none;
            }
               
            }
        }
        .p-derivaciones{
            font-size: 16px;
            font-family: $fuente-principal;
            margin: 8px;
            text-align: center;
            .p_enlace{
                text-decoration: none;
                color: #1a1a1a;
                margin: 1px;
                background-color: #f4f4f4;
                &:hover{
                    color: #FFFFFF;
                    background-color: #30bef2;
                    border-radius: 2px;
                    margin: 1px;
                }
            }
        }   

        .p-contacto_2{
            font-size: 18px;
            font-family: $fuente-principal;
            text-align: center;
            margin: 5px;
            margin-top: 22px;
            padding: 20px;
            background-color: #f4f4f4;
            border-radius: 5px;
        }

        .h1_contacto{
            color:#FFFFFF;
            font-size: 35px;
            font-family:$fuente-principal;
            margin: 4px;
            padding: 15px;
            background-color: #30bef2;
        }
               
    }
}

//mobile query

@media (max-width: 767px){

//section equipo.html y derivaciones.html

    body{
        .section_equipo{
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


                .h1equipo{
                text-align: center;
                margin: 10px;
                font-size: 22;
                    }
                .h2equipo{
                text-align: center;
                margin: 10px;
                font-size: 18px;
                        }

            #cards_query{
                display: flex !important;
                flex-direction: column !important;
                margin: 8px !important;
                   .card{
                    width: 100% !important;
                    box-sizing: border-box !important;
                    margin: 5px !important;
                        }

                }
            }
        .section-derivaciones{
                .container-regiones{
                    display: flex;
                    justify-content: center;
                        .regiones{
                            width: 370px;
                            margin-bottom: 20px;
                            border-radius: 10px;
                                }
                            }
                    }
                
    
        //section de index.html//
        
        section{
            #carouselExampleDark{
                .carousel-caption{
                    h5{
                        color: #1a1a1a !important;
                        font-family: $fuente-principal !important;
                        background-color: #f4f4f49f !important;
                        }
                    p{
                        color: #1a1a1a !important;
                        font-family: $fuente-principal !important;
                        background-color: #f4f4f49f !important;
                        }
                        }
                }
        }                
        .section-container{
            margin-left: 25px;
            margin-right: 25px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-direction: column;

            .section_div{
                margin: 10px;
                border: 0.5px;
                border-radius: 5px;
                background-color: #f4f4f4;


                .section_div2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .imagen_section{
                        margin-top: 10px;
                        margin-bottom: 8px;
                        width: 220px;
                        border-radius: 5px;
                    }
    
                }
                .section_div3{
                    //display: flex;
                    //flex-direction: column;
                    //justify-content: space-between;   
                    p {
                    color: #1a1a1a;
                    font-size: 12px;
                    text-align: justify;
                    font-family: $fuente-principal;
                    margin: 8px;        
                    }
                    .section_p_title{
                        font-size: 15px;
                        color: #1a1a1a;
                        text-align:start;
                        font-weight: bold;
                        margin: 8px;
                    }
                    }
            }
        }
    }
    
        .banner_bienvenida{
                background-image: url(../img/banner_bienvenida.png);
                margin-left: 15px;
                margin-right: 15spx;
                margin-top: 30px;
                h3{
                    font-size: 22px;
                    padding: 30px;
                    text-align: justify;
                    color: #f4f4f4;
                }
                .texto_bienvenida{
                    font-size: 13px;
                    padding: 20px;
                    text-align: justify;
                    background-color: #f4f4f438;
                    
    
                }
        }
    
    
    
    //section prestaciones.html
    
    section{
            .h1prestaciones{
                color:#FFFFFF;
                font-size: 28px;
                font-family:$fuente-principal;
                margin: 4px;
                padding: 12px;
                text-align: center;
                background-image:url(../img/banner_web.png);
                                    
            }
    
            form{
                margin: 0 auto;
                width: 400px;
                padding: 1em;
                border: 1px solid #f4f4f4;
                border-radius: 1em;
                ul{
                    //Tomara valores de fuente, hover, etc, de la siguiente ul//
                    li{
                label{
                    display: inline-block;
                    width: 190px;
                    text-align: center;
                    }
                input{
                    font-size: 14px;
                    font-family: $fuente-principal;
                    width: 300px;
                    box-sizing: border-box;
                    border: 1px solid #f4f4f4;
                        }
                textarea {
                    vertical-align: top;
                    font-size: 14px;
                    font-family: $fuente-principal;
                    height: 6em;
                    width: 300px;
                    border: 1px solid #f4f4f4;
                        }
                    }
                }

                .Nombrein{
                padding-left: 200px;
                }

                .Institucionin{
                    padding-left: 200px;
                }

                .consultain{
                    padding: 80px;
                }

                .emailin{
                    padding-left: 200px;
                    margin-bottom: 5px;
                }
                .logoBM_contacto{
                    display: none;    
                }
            }
            
            ul{
                list-style: none;
                margin-bottom: 80px;
                li{
                    color: black;
                    font-size: 15px;
                    font-family:$fuente-principal;
                    padding: 12px;
                    text-align: center;
                    transition: background-color 0.8s;
                    &:hover {
                        color: white;
                        background-color: violet;
                        border: none;
                        .condiciones_preanaliticas{
                            display: contents;
                        }
                            }
                .cursiva{
                    font-style: italic;
                }
                .condiciones_preanaliticas{
                    color: #FFFFFF;
                    text-align: end;
                    font-weight: bold;
                    display: none;
                }
                   
                }
            }
            .p-derivaciones{
                font-size: 16px;
                font-family: $fuente-principal;
                margin: 8px;
                text-align: center;
                .p_enlace{
                    text-decoration: none;
                    color: #1a1a1a;
                    margin: 1px;
                    background-color: #f4f4f4;
                    &:hover{
                        color: #FFFFFF;
                        background-color: #30bef2;
                        border-radius: 2px;
                        margin: 1px;
                    }
                }
            }   
    
            .p-contacto_2{
                font-size: 18px;
                font-family: $fuente-principal;
                text-align: center;
                margin: 5px;
                margin-top: 22px;
                padding: 20px;
                background-color: #f4f4f4;
                border-radius: 5px;
            }
    
            .h1_contacto{
                color:#FFFFFF;
                font-size: 28px;
                font-family:$fuente-principal;
                text-align: center;
                margin: 4px;
                padding: 15px;
                background-color: #30bef2;
            }
                   
        }
    }
